.main-content {
  @include transition(all .15s);
  @include media-breakpoint-up(md) {
    max-width: calc(100% - 200px);
    margin-left: 200px;
  }
  @include media-breakpoint-up(lg) {
    max-width: calc(100% - 350px);
    margin-left: 350px;
  }
}
.main-header {
  @extend .py-4;
}
.main-substitle {
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .625rem;
}
.main-title {
  margin-bottom: 0;
}
