.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  transform: translateX(-100%);
  z-index: 25;
  @include transition(all .2s);
  @include media-breakpoint-up(md) {
    width: 200px;
    box-shadow: 0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1);
    transform: translateX(0);
  }
  @include media-breakpoint-up(lg) {
    width: 350px;
  }
}

.sidebar-title {
  position: relative;
  height: 60px;
}

.sidebar-title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 60px;
  padding: {
    top: .7rem;
    bottom: .7rem;
  }
  text-align: center;
  color: #3d5170;
  border-bottom: 1px solid #e1e5eb;
  @include hover {
    text-decoration: none;
    color: rgba(black, .9);
  }
}

.sidebar-toggle {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: transparent;
  border: {
    top: 0;
    bottom: 0;
    left: 1px solid #e1e5eb;
    right: 0;
  }
  @extend .d-md-none;
}

.sidebar-menu,
.sidebar-subsmenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu {
  height: calc(100vh - 60px);
  overflow: {
    y: auto;
    x: hidden;
  }
}

.sidebar-menu-item {
  position: relative;
}

%extendActive {
  color: $primary;
  text-decoration: none;
  box-shadow: inset .1875rem 0 0 $primary;

  > .fa {
    color: $primary;
  }
}

.sidebar-menu-link,
.sidebar-subsmenu-link {
  font-size: .85rem;
  display: block;
  width: 100%;
  padding: .9375rem 1.5625rem;
  color: #3d5170;
  background-color: transparent;
  border: {
    bottom: 1px solid #e1e5eb;
    top: 0;
    left: 0;
    right: 0;
  }
  text-align: left;
  @include transition(all .15s);

  &.active {
    @extend %extendActive;
  }

  > .fa {
    font-size: 1.125rem;
    color: #cacedb;
    margin-right: 10px;
  }

  @include hover {
    @extend %extendActive;
  }
}

.sidebar-menu-caret {
  position: relative;

  &::after {
    position: absolute;
    right: 25px;
    font: {
      family: "Font Awesome 5 Free";
      weight: 900;
    }
    content: '\f104';
    @include transition(transform .15s);
  }

  &.open {
    &::after {
      transform: rotate(-90deg);
    }
  }
}
